.page {
  text-rendering: optimizeLegibility;
  background-color: #F8F8F8;
  background-size: 100vw 100vh;
  background-image: url(../../images/page-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 320px;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
