.description {
  display: flex;
  flex-direction: column;
  max-width: 755px;
  width: 100%;
}

.description__article {
  width: 100%;
  margin-bottom: 92px;
}

.description__heading {
  font-size: 50px;
  line-height: 1.21;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 42px;
}

.description__article:first-of-type {
  margin-top: 0;
}

.description__text {
  font-size: 16px;
  line-height: 1.375;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.description__list {
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  padding-left: 16px;
  width: 100%;
}

.description__list-item {
  margin-bottom: 15px;
}

.description__paragraph {
  margin-top: 24px;
  margin-bottom: 0;
}

.description__list-item:last-of-type {
  margin-bottom: 0;
}

.description__paragraph:first-of-type {
  margin: 0;
}

.description__form {
  margin-top: 56px;
  width: 100%;
  max-width: 600px;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .description {
    max-width: 680px;
  }

  .description__article {
    margin-bottom: 82px;
  }

  .description__article:last-of-type {
    margin-bottom: 78px;
  }

  .description__text {
    font-size: 15px;
    line-height: 1.47;
  }

  .description__heading {
    font-size: 46px;
    line-height: 1.21;
  }
}

@media screen and (max-width: 768px) {
  .description {
    max-width: 648px;
  }

  .description__heading {
    font-size: 42px;
  }
}

@media screen and (max-width: 414px) {
  .description__article {
    margin-bottom: 62px;
  }

  .description__article:last-of-type {
    margin-bottom: 64px;
  }

  .description__heading {
    font-size: 32px;
    margin-bottom: 30px;

  }

  .description__text {
    font-size: 12px;
    line-height: 1.35;
  }

  .description__paragraph {
    margin-top: 16px;
  }

  .description__list {
    padding-left: 14px;
  }

  .description__list-item {
    margin-bottom: 10px;
  }

  .description__form {
    font-size: 14px;
    margin-top: 40px;
  }
}

