.player {
  width: calc(100% - 50px);
  color: #fff;
  position: absolute;
  bottom:0;
  left:25px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  grid-area: player;
}

.player__controls-container {
  width: 100%;
  transition: all 0.3s ease-in-out;
  align-self: flex-end;
}

.player__controls-container_opened {
  width: calc(100% - 202px);
}

.player__song-cover {
  width: 0px;
  height: 0px;
  transition: all 0.3s ease-in-out;
}
.player__song-cover_opened {
  width: 176px;
  height: 176px;
  margin: 0 27px 0 0;
}

.player__controls {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.player__song-info {
  display: flex;
  flex-direction: column;
  width: calc(1150px - 1 * (1280px - 100vw));
  min-width: 240px;
  margin-left: 40px;
}

.player__song-info_opened {
  width: calc(794px - 0.9101 * (1280px - 100vw));
}

.player__song-container {
  display: flex;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.player__button {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: 0;
}

.player__play {
  background-image: url(../../images/player-play.svg);
  margin: 0 20px 0 0;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 0;
  top: 9px;
}

.player__play_active {
  background-image: url(../../images/player-pause.svg);
}

.player__menu {
  background-image: url(../../images/player-menu.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 7px;
}

.player__menu_opened {
  background-image: url(../../images/player-menu-opened.svg);
  margin: auto 0 auto 20px;
}

.player__time {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.21;
  margin-right: 0px;
}

.player__song {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.21;
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.player__timeline {
  width: calc(100%);
  margin: 8px 0 0 0;
  height: 3px;
  background-color: rgba(243, 243, 243, 0.3);
  cursor: pointer;
  position: relative;
}

.player__button_type_video {
  width: 0px;
  height: 0px;
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-size: 0px;
  line-height: 1.19;
  padding: 0;
  margin: auto 0 auto 0;
}

.player__button_type_text {
  width: 0px;
  height: 0px;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: #fff;
  font-size: 0px;
  line-height: 1.19;
  padding: 0;
  margin: auto 0 auto 0;
}

.player__button_type_text_opened {
  min-width: 135px;
  height: 34px;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  line-height: 1.19;
  border: 2px solid white;
  margin: 3px 44px auto 20px;
}

.player__progress {
  background-color: #fff;
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.player__song-list {
  margin: 0;
  max-height: 0px;
  padding: 0;
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
  margin-left: 36px;
}

.player__song-list_opened {
  max-height: 103px;
  min-height: 103px;
  margin-top: 25px;
}

.player__song-list::-webkit-scrollbar {
  width: 3px;
}

.player__song-list::-webkit-scrollbar-track {
  border: 3px solid rgba(243, 243, 243, 0.1);
}

.player__song-list::-webkit-scrollbar-thumb {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.player__song_type_listed {
  margin-bottom: 16px;
  cursor: pointer;
}

.player__song_type_active {
  font-weight: 500;
}

.player__song_type_current {
  font-style: italic;
  font-weight: 500;
}

.player__song-feat {
  font-style: italic;
  font-weight: 400;
}

.player__text-heading {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.21;
  margin-top: 0;
  margin-bottom: 12px;
}

.player__text {
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 1.35;
  white-space: pre-line;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .player__controls {
    height: 34px;
  }

  .player__song {
    font-size: 18px;
  }

  .player__time {
    font-size: 18px;
  }

  .player__button_type_video_opened {
    min-width: 125px;
  }

  .player__song-cover_opened {
    width: 164px;
    height: 164px;
    margin-right: 25px;
  }

  .player__song-info {
    margin-left: 35px;
  }

  .player__song-container {
    margin-top: 13px;
  }

  .player__timeline {
    margin-top: 10px;
  }

  .player__song_type_listed {
    margin-top: 11px;
    margin-bottom: 0;
  }

  .player__button_type_text_opened {
    min-width: 126px;
  }

  .player__controls-container_opened {
    width: 100%;
  }

  .player__text-heading {
    font-size: 18px;
  }

  .player__text {
    font-size: 18px;
    line-height: 1.44;
  }
}

@media screen and (max-width: 768px) {
  .player__button_type_video_opened {
    background-image: url(../../../src/images/video-play.svg);
    background-size: 10px 8px;
    background-position: 12px center;
    min-width: 87px;
    height: 34px;
    border-radius: 30px;
    color: #000;
    background-color: #fff;
    font-size: 15px;
    line-height: 1.19;
    border: 2px solid #fff;
    margin: 0 10px auto auto;
    padding-left: 10px;
    padding-right: 0;
  }

  .player__timeline {
    margin: 11px 0 0 0;
  }

  .player__song-container_opened {
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
  }

  .player__song-info_opened {
    margin: auto 20px auto 35px;
    width: 100%;
    max-width: 397px;
  }

  .player__button_type_text_opened {
    margin: 0 45px auto 0;
    font-size: 15px;
  }

  .player__controls-container {
    width: 100%;
  }

  .player__song-cover_opened {
    width: 112px;
    height: 112px;
    margin: 17px auto 0 35px;
  }

  .player__playlist-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .player__playlist-container_opened {
    margin-top: 20px;
  }

  .player__song-list_opened {
    max-height: 112px;
    margin-left: 30px;
    margin-top: 17px;
  }

  .player__play {
    width: 18px;
    height: 21px;
    top: 7px;
  }
}

@media screen and (max-width: 615px) {
  .player {
    width: calc(100% - 28px);
    left: 14px;
    margin-bottom: 10px;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
  }

  .player__play {
    width: 18px;
    height: 18px;
    top: 12px;
  }

  .player__menu {
    width: 18px;
    height: 18px;
    top: 12px;
  }

  .player__controls-container {
    display: flex;
    flex-direction: column;
    height: 50px;
  }

  .player__controls-container_opened{
    height: 483px;
  }

  .player__song {
    font-size: 14px;
  }

  .player__time {
    font-size: 14px;
  }

  .player__timeline {
    margin-top: 10px;
  }

  .player__song-info {
    margin: auto;
  }

  .player__song-info_opened {
    max-width: 82%;

  }

  .player__button-container {
    max-height: 0;
    transition: all 0.3s ease-in-out;
  }

  .player__button-container_opened{
    margin: 21px auto 20px auto;
    width: calc(100% - 52px);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .player__song-cover {
    align-self: center;
    min-width: 0px;
    min-height: 0px;
  }

  .player__song-cover_opened{
    min-width: 240px;
    min-height: 240px;
    margin: 31px auto auto auto;
  }

  .player__button_type_video_opened {
    min-width: 74px;
    min-height: 27px;
    font-size: 12px;
    line-height: 1.245;
    background-position: 8px center;
    margin: auto 5 auto auto;
  }

  .player__button_type_text_opened {
    min-width: 161px;
    min-height: 27px;
    font-size: 12px;
    line-height: 1.245;
    margin: auto auto auto 0;
  }

  .player__playlist-container{
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
  }

  .player__playlist-container_opened{
    margin: 13px auto 0 auto;
  }

  .player__song-list_opened {
    margin: 30px auto;
    width: calc(100% - 49px);
    max-height: 80px;
    min-height: 80px;
  }

  .player__text-heading {
    font-size: 14px;
  }

  .player__text {
    font-size: 14px;
  }
}
