.player {
  width: calc(100% - 50px);
  color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  grid-area: player;
}

.player__controls-container {
  width: 100%;
  transition: all 0.3s ease-in-out;
  align-self: flex-end;
}
.player__controls-container_opened {
  width: calc(100% - 176px);
}

.player__song-cover {
  width: 0px;
  height: 0px;
  transition: all 0.3s ease-in-out;
}
.player__song-cover_opened {
  width: 13.75vw;
  height: 13.75vw;
  max-width: 176px;
  max-height: 176px;
  margin: 0 27px 0 0;
}

.player__controls {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.player__song-info {
  display: flex;
  flex-direction: column;
  width: calc(1150px - 1 * (1280px - 100vw));
  min-width: 240px;
}

.player__song-info_opened {
  width: calc(794px - 0.9101 * (1280px - 100vw));
}
.player__song-container {
  display: flex;
  width: 100%;
}

.player__button {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: 0;
}

.player__play {
  background-image: url(../../images/player-play.svg);
  margin: 0 20px 0 0;
  width: 16px;
  height: 20px;
}
.player__play_active {
  background-image: url(../../images/player-pause.svg);
}

.player__menu {
  background-image: url(../../images/player-menu.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  bottom: center;
}
.player__menu_opened {
  background-image: url(../../images/player-menu-opened.svg);
  margin: auto 0 auto 20px;
}

.player__time {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.21;
  margin-right: 0px;
}

.player__song {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.21;
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.player__timeline {
  width: calc(100%);
  margin: 13px 0 0 0;
  height: 2px;
  background-color: rgba(243, 243, 243, 0.3);
  cursor: pointer;
}
.player__button_type_text {
  width: 0px;
  height: 0px;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: white;
  font-size: 0px;
  line-height: 1.19;
  font-style: italic;
  padding: 0;
  margin: auto 0 auto 0;
}

.player__button_type_text_opened {
  width: 135px;
  height: 35px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  line-height: 1.19;
  font-style: italic;
  border: 2px solid white;
  margin: auto 0 auto 20px;
}
.player__button_type_text:focus {
  outline: none;
}

.player__progress {
  background-color: #fff;
  width: 50%;
  height: 2px;
}

.player__song-list {
  margin: 0;
  width: 100%;
  max-height: 0px;
  padding: 0;
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
  margin-left: 36px;
}
.player__song-list_opened {
  max-height: calc(103px - 0.1718 * (1280px - 100vw));
  margin-top: 25px;
}
.player__song-list::-webkit-scrollbar {
  width: 3px;
}

.player__song-list::-webkit-scrollbar-track {
  border: 3px solid rgba(243, 243, 243, 0.1);
}

.player__song-list::-webkit-scrollbar-thumb {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}
.player__song_type_listed {
  margin-bottom: 16px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .player__controls {
    height: 44px;
  }

  .player__song {
    font-size: 18px;
  }

  .player__time {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 380px) {
  .player {
    width: calc(100% - 30px);
  }

  .player__controls {
    height: 38px;
  }

  .player__play {
    min-width: 13px;
    margin-right: 12px;
  }

  .player__menu {
    min-width: 16px;
    margin-left: 9px;
  }

  .player__song {
    font-size: 14px;
    line-height: 1.36;
  }

  .player__time {
    font-size: 14px;
    line-height: 1.36;
  }

  .player__timeline {
    width: calc(100% - 55px);
  }
}
