.page {
    background-size: 1280px;
    background-image: url(./images/IMG_1.jpg);
    background-repeat: no-repeat;
    font-family: 'Inter', Arial, sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1280px) {
    .page {
        background-size: 100vw;
    }
}
.page__logo {
    width: 861px;
    height: 272px;
    margin: 36px auto auto 184px;
}

@media screen and (max-width: 1280px) {
    .page__logo {
        width: calc(861px - 0.5802 * (1280px - 100vw));
        height: calc(272px - 0.18333 * (1280px - 100vw));
        margin: 36px auto auto calc(184px - 0.1864585 * (1280px - 100vw));
    }
}
.header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    min-height: 190px;
    width: 100%;
}

.header__logo {
    width: 50px;
    height: 50px;
    margin: 15px auto auto 25px;
}

.header__button {
    width: auto;
    height: 40px;
    border: 2px solid white;
    border-radius: 30px;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    margin: 20px 20px auto auto;
    padding: 0;
    cursor: pointer;
}

.header__button:focus {
    outline: none;
}
.page__heading {
    margin: 0;
}


.player {
    width: calc(100vw - 42px);
    margin: 33px 22px 0 20px;
    height: 197px;
    border: 1px solid white;
    color: white;
}

.description {
    margin: 0 11px 0 11px;
    background-color: #FFF;
    border-radius: 10px;
    padding-top: 64px;
    padding-left: 58px;
    padding-bottom: 86px;
    display: flex;
    flex-direction: column;
}

.description__heading {
    width: 716px;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}

.description__text {
    width: 716px;
    font-size: 18px;
    font-weight: 400;
    margin: 44px auto 60px 0;
}

.description__list {
    margin: 44px auto 101px 0;
    list-style-type: none;
    padding: 0;
    width: 716px;
}

.description__paragraph {
    margin: 31px 0 0 0;
}

.description__paragraph:first-of-type {
    margin: 0;
}

.description__list-item {
    margin: 31px 0 0 0;
}

.description__list-item:first-of-type {
    margin: 0;
}

.description__form-heading {
    font-size: 30px;
    font-weight: 400;
    margin: 0 auto 80px 0;
}

.description__form {}

.description__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 0;
}

.description__input {
    width: 545px;
    height: 54px;
    margin: 16px auto 0 0;
    border-radius: 30px;
    border: 2px solid black;
    padding-left: 24px;
    padding-right: 24px;
    color: #000;
    font-size: 18px;
}

.description__input::placeholder {
    color: #000;
    font-size: 18px;
}

.description__input:focus {
    outline: none;
}

.description__textarea {
    height: 222px;
    width: 545px;
    margin: 16px auto 0 0;
    color: #000;
    font-size: 18px;
    border-radius: 30px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 18px;
    border: 2px solid black;
}

.description__textarea::placeholder {
    color: #000;
    font-size: 18px;
}


.description__checkbox-field {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 29px;
    margin: 34px auto 0 0;
}

.description__label {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    height: 27px;
    left: 0;
    position: absolute;
    top: 0;
    width: 27px;
    transition: background-color 0.3s ease-in-out;
}

.description__label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.description__checkbox {
    visibility: hidden;
    height: 0;
    width: 0;
}

.description__checkbox:checked + .description__label {
    transition: background-color 0.3s ease-in;
    background-color: #000;
    border-color: #000;
}

.description__checkbox:checked + .description__label:after {
    transition: opacity 0.3s ease-in;
    opacity: 1;
}

.descripton__checkbox-text {
    margin: auto auto auto 41px;
    font-size: 18px;
}
.description__link {
    color: #000; 
}
.description__button {
    width: 597px;
    height: 60px;
    border: 2px solid black;
    margin: 88px 0 0 0;
    background-color: transparent;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 400;
}
.footer {
    height: 100px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}
.footer__copyright {
    
}