.page {
    background-color: #F8F8F8;
    background-size: 1280px;
    background-image: url(./images/pic.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inter', Arial, sans-serif;
    min-width: 320px;
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1280px) {
    .page {
        background-size: 100vw;
    }
}

.header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /* min-height: 190px; */
    width: 100%;
    position: relative;
}

.intro {
    display: flex;
    width: 100%;
}

.intro__turbina-logo {
    width: 720px;
    height: 226px;
    margin: 0;
}

.intro__heading {
    margin: 7% auto auto auto;
}
.header__logo {
    width: 50px;
    height: 50px;
    margin: 20px auto auto 20px;
}

@media screen and (max-width: 1280px) {
    .intro__turbina-logo {
        width: calc(730px - 0.4687 * (1280px - 100vw));
        height: calc(230px - 0.1562 * (1280px - 100vw));
    }
}

@media screen and (max-width: 1024px) {
    .intro__heading {
        margin: 7% auto auto auto;
    }
    .header__logo {
        width: 40px;
        height: 40px;
    }
}

/* вынес общие кнопочные свойства */
.button {
    padding: 0;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}





.header__button {
    width: auto;
    height: 40px;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
    /* добавил кнопки, которые у меня были, эту пока скрыл, она на мобильной версии пригодится */
    display: none;
}

.header__links {
    list-style: none;
    padding-left: 0;
    margin: 15px 15px auto auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__links-item {
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 6px 19px;
    margin-bottom: 8px;
}

.header__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.21;
    color: #fff;
}
@media screen and (max-width: 1024px) {
    .header__links-item {
        font-size: 15px;
        padding: 5px 13px;
    }
}

.header__button:focus {
    outline: none;
}

.player {
    width: calc(100% - 42px);
    margin: 36px 18px 12px 24px;
    height: 197px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.player__controls {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player__button {
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
}

.player__play {
    background-image: url(./images/player-play.svg);
    margin-right: 20px;
    width: 20px;
    height: 16px;
}

.player__menu {
    background-image: url(./images/player-menu.svg);
    margin-right: 2px;
    width: 24px;
    height: 24px;
}

.player__time {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.21;
    margin-right: 22px;
}

.player__song {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.21;
    flex-grow: 1;
}

.player__timeline {
    width: calc(100% - 88px);
    height: 2px;
    background-color: rgba(243, 243, 243, 0.3);
    cursor: pointer;
}

.player__progress {
    background-color: #fff;
    width: 50%;
    height: 2px;
}

.content {
    background-color: #FFF;
    border-radius: 10px;
    margin: 0 11px;
    padding-top: 64px;
    padding-left: 58px;
    padding-bottom: 86px;
}

.description {
    display: flex;
    flex-direction: column;
    max-width: 59%;
}

/* перенес маржины на залоговки, чтобы в тезисах отдельный класс не делать */
.description__heading {
    font-size: 30px;
    line-height: 1.21;
    font-weight: 400;
    margin-top: 62px;
    margin-bottom: 46px;
}

.description__heading:first-of-type {
    margin-top: 0;
}

.description__heading:last-of-type {
    margin-bottom: 44px;
}

.description__text {
    font-size: 18px;
    line-height: 1.21;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.description__list {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
    width: 716px;
}

.description__paragraph {
    margin-top: 23px;
    margin-bottom: 0;
}

.description__paragraph:first-of-type {
    margin: 0;
}

/* форму в отдельный блок выделил, потом на Реакте все равно делить */
.form {
    width: 50%;
}

.form__heading {
    font-size: 30px;
    line-height: 1.21;
    font-weight: 400;
    margin-top: 120px;
    margin-bottom: 66px;
}

.form__post-form {}

.form__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 0;
}

.form__input {
    width: 545px;
    height: 54px;
    margin: 16px auto 0 0;
    border-radius: 30px;
    border: 2px solid black;
    padding-left: 24px;
    padding-right: 24px;
    color: #000;
    font-size: 18px;
}

.form__input::placeholder {
    color: #000;
    font-size: 18px;
}

.form__input:focus {
    outline: none;
}

.form__textarea {
    height: 222px;
    width: 545px;
    margin: 16px auto 0 0;
    color: #000;
    font-size: 18px;
    border-radius: 30px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 18px;
    border: 2px solid black;
}

.form__textarea::placeholder {
    color: #000;
    font-size: 18px;
}

.form__checkbox-field {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 29px;
    margin: 34px auto 0 0;
}

.form__label {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    height: 27px;
    left: 0;
    position: absolute;
    top: 0;
    width: 27px;
    transition: background-color 0.3s ease-in-out;
}

.form__label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.form__checkbox {
    visibility: hidden;
    height: 0;
    width: 0;
}

.form__checkbox:checked + .form__label {
    transition: background-color 0.3s ease-in;
    background-color: #000;
    border-color: #000;
}

.form__checkbox:checked + .form__label:after {
    transition: opacity 0.3s ease-in;
    opacity: 1;
}

.form__checkbox-text {
    margin: auto auto auto 41px;
    font-size: 18px;
    line-height: 1.21;
}

.form__link {
    color: #000;
}

.form__button {
    width: 100%;
    height: 60px;
    border: 2px solid black;
    margin: 82px 0 0 0;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 400;
}

.footer {
    height: 100px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.footer__copyright {}
