@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.page {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #F8F8F8;
    background-size: 100vw 100vh;
    background-image: url(./images/page-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inter', Arial, sans-serif;
    min-width: 320px;
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(3, minmax(min-content, 1fr));
    grid-template-areas: "logo links"
        "turbina turbina"
        "player player";
}

.header__logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    grid-area: logo;
}

.header__heading {
    display: flex;
    grid-area: turbina;
    margin-bottom: 0;
    margin-top: 0;
}

.header__turbina-logo {
    width: 60%;
    margin: auto;
}

.button {
    padding: 0;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

.header__links-button {
    display: none;
    margin-left: auto;
    margin-bottom: 6px;
}

.header__links {
    margin-right: 15px;
    margin-top: 15px;
    grid-area: links;
}

.header__links-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.header__links-item {
    margin-bottom: 16px;
    margin-top: 8px;
}

.header__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.21;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 6px 19px;
}

.header__player {
    margin: 0 auto 20px;
}

.player {
    width: calc(100% - 50px);
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    grid-area: player;
}

.player__controls {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player__button {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: 0;
}

.player__play {
    background-image: url(./images/player-play.svg);
    margin-right: 20px;
    width: 16px;
    height: 20px;
}

.player__menu {
    background-image: url(./images/player-menu.svg);
    width: 24px;
    height: 24px;
    margin-left: 20px;
}

.player__time {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.21;
}

.player__song {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.21;
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.player__timeline {
    width: calc(100% - 80px);
    height: 2px;
    background-color: rgba(243, 243, 243, 0.3);
    cursor: pointer;
}

.player__progress {
    background-color: #fff;
    width: 50%;
    height: 2px;
}

@media screen and (min-width: 1281px) {
    .header {
        max-height: 100vh;
    }
}

@media screen and (max-width: 1280px) {
    .header {
        height: 770px;
    }

    .header__turbina-logo {
        width: 720px;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        height: 670px;
    }

    .header__logo {
        width: 40px;
        height: 40px;
    }

    .header__links-item {
        margin-top: 7px;
    }

    .header__link {
        font-size: 15px;
        padding: 6px 16px;
    }

    .header__turbina-logo {
        width: 600px;
        padding-top: 12px;
    }

    .player__controls {
        height: 44px;
    }

    .player__song {
        font-size: 18px;
    }

    .player__time {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 1016px;
    }

    .header__turbina-logo {
        width: 620px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        height: 692px;
    }

    .header__logo {
        width: 24px;
        height: 24px;
        margin-left: 16px;
        margin-top: 16px;
    }

    .header__links {
        margin-right: 13px;
        margin-top: 13px;
    }

    .header__link {
        padding: 5px 14px;
    }

    .header__turbina-logo {
        width: 270px;
    }

    .player {
        width: calc(100% - 30px);
    }

    .player__controls {
        height: 38px;
    }

    .player__play {
        min-width: 13px;
        margin-right: 12px;
    }

    .player__menu {
        min-width: 16px;
        margin-left: 9px;
    }

    .player__song {
        font-size: 14px;
        line-height: 1.36;
    }

    .player__time {
        font-size: 14px;
        line-height: 1.36;
    }

    .player__timeline {
        width: calc(100% - 55px);
    }

    .header__link {
        font-size: 12px;
    }

    .header__links-button {
        display: block;
    }

    .header__links-list {
        display: none;
    }
}

.content {
    background-color: #FFF;
    border-radius: 10px;
    margin: 0 11px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width: 1024px) {
    .content {
        margin: 0 10px;
    }
}

@media screen and (max-width: 500px) {
    .content {
        margin: 0 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.description {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    width: 100%;
}

.description__article {
    width: 100%;
    margin-top: 62px;
}

.description__heading {
    font-size: 50px;
    line-height: 1.22;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 46px;
}

.description__article:first-of-type {
    margin-top: 0;
}

.description__article:last-of-type {
    margin-bottom: 73px;
}

@media screen and (max-width: 1024px) {
    
    .description__article:last-of-type {
        margin-bottom: 63px;
    }
}

@media screen and (max-width: 500px) {
    .description__article:last-of-type {
        margin-bottom: 33px;
    }
}

.description__text {
    font-size: 16px;
    line-height: 1.37;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .description__text {
        font-size: 15px;
        line-height: 1.46;
    }

    .description__heading {
        font-size: 46px;
        line-height: 1.21;
    }
}

@media screen and (max-width: 500px) {
    .description__heading {
        font-size: 42px;
    }

    .description__text {
        font-size: 12px;
        line-height: 1.33;
    }
}

.description__list {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
    max-width: 716px;
    width: 100%;
}

.description__paragraph {
    margin-top: 23px;
    margin-bottom: 0;
}

.description__paragraph:first-of-type {
    margin: 0;
}

.description__form {
    margin-top: 60px;
    width: 100%;
    max-width: 600px;
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .description__form {
        font-size: 14px;
    }
}

.form__heading {
    font-size: 30px;
    line-height: 1.21;
    font-weight: 400;
    margin-top: 120px;
    margin-bottom: 66px;
}

.form__post-form {}

.form__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .form__fieldset {
        font-size: 14px;
    }
}

.form__input {
    width: 100%;
    height: 46px;
    margin: 0px auto 6px 0;
    border: none;
    border-bottom: 2px solid black;
    color: #000;
    /*    font-size: 16px;*/
    padding: 0;
}

@media screen and (max-width: 500px) {
    .form__input {
    height: 42px;
    }
}

.form__input::placeholder {
    color: #000;
    opacity: 0.4;
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .form__input::placeholder {
        color: #000;
        opacity: 0.4;
        font-size: 14px;
    }
}

.form__input:focus {
    outline: none;
}



.form__checkbox-field {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 29px;
    margin: 15px auto 0 0;
}

.form__label {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    height: 27px;
    left: 0;
    position: absolute;
    top: 0;
    width: 27px;
    transition: background-color 0.3s ease-in-out;
}

.form__label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.form__checkbox {
    visibility: hidden;
    height: 0;
    width: 0;
}

.form__checkbox:checked + .form__label {
    transition: background-color 0.3s ease-in;
    background-color: #000;
    border-color: #000;
}

.form__checkbox:checked + .form__label:after {
    transition: opacity 0.3s ease-in;
    opacity: 1;
}

.form__checkbox-text {
    margin: auto auto auto 41px;
    line-height: 1.21;
}

.form__link {
    color: #000;
}

.form__button {
    width: 100%;
    height: 60px;
    border: 2px solid black;
    margin: 43px 0 20px 0;
    border-radius: 30px;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .form__button {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .form__button {
        font-size: 12px;
        height: 42px;
    }
}

.form__error {
    visibility: hidden;
    color: #F00;
    margin: 0 auto 0 0;
}

.form__error_active {
    visibility: visible;
    color: #F00;
}

.form__error_type_centered {
    width: 100%;
    margin-left: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

.footer {
    height: 62px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    line-height: 1.375;
    flex-direction: row;
}

.footer__copyright {
    margin-top: auto;
    margin-bottom: auto;
    font-size: inherit;
    line-height: inherit;
}

@media screen and (max-width: 1024px) {
    .footer {
        font-size: 15px;
        line-height: 1.46;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        font-size: 12px;
        line-height: 1.83;
        flex-direction: column;
        justify-content: center;
        height: 54px;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    .footer__copyright {
        margin: 5px auto 0 auto;
        text-align: center;
    }
}


.footer__link {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}
