.content {
  background-color: #FFF;
  border-radius: 8px;
  margin: 0 10px;
  padding-top: 110px;
  padding-left: 51px;
  padding-right: 51px;
}

@media screen and (max-width: 1024px) {
  .content {
    margin: 0 10px;
  }
}

@media screen and (max-width: 500px) {
  .content {
    margin: 0 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
