
.form__heading {
  font-size: 30px;
  line-height: 1.21;
  font-weight: 400;
  margin-top: 120px;
  margin-bottom: 66px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.form__label {
  position: relative;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  min-height: 60px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  color: #000;
  line-height: 1.25;
}

.form__input_type_textarea {
  resize: vertical;
  padding-top: 16px;
}

.form__input_type_error {
  border-bottom-color: red;
  color: red;
}

.form__input::placeholder {
  color: #000;
  opacity: 0.4;
  font-size: 16px;
}

.form__input:focus {
  outline: none;
}

.form__error {
  font-size: 16px;
  line-height: 1.25;
  color: red;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  z-index: 10;
}

.form__checkbox-field {
  position: relative;
  display: flex;
  align-items: center;
  height: 28px;
  margin-top: 28px;
}

.form__checkbox-label {
  background-color: #fff;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  width: 28px;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.3s ease-in-out;
}

/* .form__checkbox-label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
} */

.form__checkbox {
  visibility: hidden;
  height: 0;
  width: 0;
}

.form__checkbox:checked + .form__checkbox-label {
  /* transition: background-color 0.3s ease-in; */
  background-color: #000;
  border-color: #000;
}

/* .form__checkbox:checked + .form__checkbox-label:after {
  transition: opacity 0.3s ease-in;
  opacity: 1;
} */

.form__checkbox-text {
  line-height: 1.375;
  margin-left: 48px;
}

.form__link {
  color: #000;
}

.form__button-field {
  position: relative;
}

.form__button {
  width: 100%;
  height: 60px;
  border: 2px solid black;
  border-radius: 30px;
  margin-top: 40px;
  margin-bottom: 18px;
  color: black;
}

.form__button_disabled {
  opacity: .2;
  cursor: default;
}

@media screen and (max-width: 1024px) {
  .form__button {
    font-size: 15px;
  }

  .form__checkbox-text {
    font-size: 15px;
    line-height: 1.47;
  }
}

@media screen and (max-width: 414px) {
  .form__fieldset {
    font-size: 14px;
  }

  .form__label {
    margin-bottom: 6px;
  }

  .form__input::placeholder {
    font-size: 14px;
  }

  .form__input {
    height: 42px;
  }

  .form__button {
    font-size: 12px;
    height: 42px;
  }

  .form__checkbox-text {
    font-size: 12px;
    line-height: 1.83;
  }
}
